body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #bbecfb, #c8fcdd);
    background-size: cover; 
    background-attachment: fixed; 
    height: 100vh; 
    margin: 0; 
  }
  









